<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="allSuites">
    <suite-files>
        <suite-file path="test-suites/critical-path-suite.xml" />
        <suite-file path="test-suites/functional-suite.xml" />
        <suite-file path="test-suites/tranbilog-test.xml" />
        <suite-file path="test-suites/medacoll-suite.xml" />
    </suite-files>
</suite>