<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Content-Store Suite"
       thread-count="1"
       configfailurepolicy="continue"
       parallel="true"
       verbose="1">
    <test name="MeDaColl vs. ASSR Pages comparison test" enabled="false">
        <classes>
            <class name="ru.alfabank.platform.medacoll.MeDaCollTest"/>
        </classes>
    </test>
    <test name="Audit Role Model Test" enabled="false">
        <classes>
            <class name="ru.alfabank.platform.audit.rolemodel.PositiveAuditRoleModelTest"/>
            <class name="ru.alfabank.platform.audit.rolemodel.NegativeAuditRoleModelTest"/>
        </classes>
    </test>
    <test name="Pages Role Model Test" enabled="true">
        <classes>
            <class name="ru.alfabank.platform.drafts.rolemodel.PositivePageOperationsRoleModelTest"/>
            <class name="ru.alfabank.platform.drafts.rolemodel.NegativePageOperationsRoleModelTest"/>
        </classes>
    </test>
</suite>